Skip to content
This repository
Search
Pull requests
Issues
Marketplace
Gist
 @reeves1988
 Sign out
 Watch 1
  Star 0
  Fork 0 moshe444/temp
 Code  Issues 0  Pull requests 0  Projects 0  Wiki Insights 
Branch: gh-pages Find file Copy pathtemp/css/style.css
70d4f59  19 days ago
@moshe444 moshe444 Update style.css
1 contributor
RawBlameHistory     
107 lines (89 sloc)  1.6 KB
body{
	background: linear-gradient(270deg, #ffff00, #00b9ff, #ff7e00);
	background-size: 1600% 1600%;

	-webkit-animation: AnimationName 31s ease infinite;
	-moz-animation: AnimationName 31s ease infinite;
	-o-animation: AnimationName 31s ease infinite;
	animation: AnimationName 31s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

img{
	display: block;
	margin: 0 auto;
}

.logo img{
	width: 350px;
}

.slogan{
	height: 220px;
	position: relative;
}

.slogan img{
	width: 300px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.icons img{
	width: 350px;
}

.icons, .phone{
	height: 250px;
	position: relative;
}

.phone img{
	width: 300px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.place-center{
	margin: 0 auto;
}

.blank10{
	height: 10px;
}

.blank20{
	height: 20px;
}

.blank30{
	height: 30px;
}

.blank40{
	height: 40px;
}

.blank100{
	height: 100px;
}

.center-h-v{
	position: absolute;
 	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px){
	.slogan img, .phone img{
		top: 50%;
	  	left: 50%;
	  	transform: translate(-50%, -50%);
	}
}
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help
